{
  "experimentalTernaries": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "noSemi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
}